<div class="container">
	<div class="row">
		<div class="col-sm-10 border border-primary offset-1">
			<h1 class="display-4">Productos</h1>
			<a class="btn btn-primary" href=<%= new_product_path %> role="button">Nuevo Producto</a>
			<table class="table table-striped mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Nombre</th>
			      <th scope="col">Precio</th>
			      <th scope="col">Categorías</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			    
		    	<% @products.each do |prod| %>
			    <tr>
		    		<th><%= prod.name %></th>
		    		<td>$ <%= prod.price %></td>
		    		<td><% prod.category_ids.each do |id| %>

		    				<%= @category.find(id).name %> 

		    			<% end %>
		    		</td>
		    		<td>
		    	    <%= link_to 'Editar', edit_product_path(prod) %> 
		    	    <%= link_to 'Eliminar', product_path(prod), method: :delete, data: { confirm: '¿Estás seguro?' } %>
		    	    </td>
			    			
			    </tr>		
		    	<% end %>
			    

			  </tbody>
			</table>
		</div>
	</div>
</div>



